/* Footer */

.footer,
.footer * {
    background-color: $background-alternative-color;
}

.footer {
    div {
        margin: 0;
        padding: 0.4rem;
    }
}

.footer {
    @include container-center;
    margin-top: 20px;
    height: 40vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid $accent-color;
    color: $font-alternative-color;
}

.footer a {
    color: $font-alternative-color;
    text-decoration: none;
}

.footer .social {
    font-size: 2rem;
}

@media (max-width: 940px) {
    .footer {
        flex-direction: column;
        justify-content: start;
    }
}
