/* Footer */

.footer {
    margin: 20px auto;
    width: 80%;
    height: 40vh;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
    background-color: #444;
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer .social {
    font-size: 2rem;
}