* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    padding: 0 15%;;
}

.header, .footer {
    flex: 0 0 auto;
}

.table, th, td {
    border: 1px solid $border-color;
}

.table {
    margin: 1em 0;
    padding: 0.4em;
    border-collapse: collapse;
    th, td {
        padding: 0.4em;
    }
    th {
        color: $accent-color;
    }
}