/* Header */
.header, .site-header {
    display: flex;
    justify-content: space-between;
}

.header {
    @include container-center;
    display: flex;
    flex-direction: column-reverse;
}

/* Title */
.title, .logo {
    padding: 3em 3em 3em 0;
}

.logo img {
    max-height: 100%;
    position: relative;
    filter: $img-filter;
}

.title * {
    color: $accent-alt-color;
}

.title p {
    font-style: italic;
}

.title a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
}

/* Navigation */
.nav li a {
    text-decoration: none;
    color: $font-color;
    padding: 0.6em;
}

.nav li:last-child a {
    color: $font-alternative-color;
}

.nav li:last-child a:hover {
    color: $font-color;
}

.nav a:hover {
    background-color: $background-alternative-color;
    border-radius: 50% 50%;
    transition: 500ms linear;
}