.main {
    a {
        color: $font-alternative-color;
        text-decoration: none;
    }

    a:hover {
        border-bottom: 1px solid $font-alternative-color;
    }
}

figure {
    text-align: center;
}

figcaption {
    font-size: 0.8rem;
}

img {
    max-width: 100%;
}

.img-profile {
    @include image-center;
    max-width: 30%;
    filter: $img-filter;
}

.img-website {
    @include image-center;
    max-width: 90%;
}

.box-shadow {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 428px) {
    .img-profile {
        max-width: 100%;
    }
}