.main {
    a {
        color: $font-alternative-color;
        text-decoration: none;
    }

    a:hover {
        border-bottom: 1px solid $font-alternative-color;
    }
}

img {
    max-width: 100%;
}

.img-profile {
    @include image-center;
    max-width: 30%;
    filter: $img-filter;
}


@media (max-width: 428px) {
    .img-profile {
        max-width: 100%;
    }
}