// Style for technologies landing page

.tech-container {
    display: grid;
    gap: 1em 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.tech-container h1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.tech-container h1,
.tech-box {
    text-align: center;
    max-height: 150px;
}

.tech-box a {
    text-decoration: none;
    display: block;
    height: 100%;
    border-radius: 20px;
    background: $font-alternative-color;
    h2 {
        background-color: inherit;
        color: $background-color;
        position: relative;
        top: 25%;
        letter-spacing: 2px;
    }
}

.tech-box a:hover {
    background: $accent-color;
    border-bottom: none;
}

.css-box {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.html-box {
    grid-column: 2 / span 2;
    grid-row: 2 / 3;
}

.js-box {
    grid-column: 1 / span 2;
    grid-row: 3 / 4;
}

.php-box {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.python-box {
    grid-column: 1 / span 3;
    grid-row: 4 / 5;
}

.git-box {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.sqlite-box {
    grid-column: 2 / span 2;
    grid-row: 5 / 6;
}

@media only screen and (max-width: 940px) {
    /* For mobile phones: */
    .tech-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }

    .tech-container h1,
    .css-box,
    .html-box,
    .js-box,
    .php-box,
    .python-box,
    .git-box,
    .sqlite-box {
        grid-column: 1;
    }
    .tech-container h1 {
        grid-row: 1;
    }
}