@mixin test-box {
    border: 1px solid red;
}

// @function multiply($a, $b) {
//     @return $a * $b;
// }

// $base-line-height: 1.4;
// $base-font-size: 1rem;

.test {
    p {
        margin: multiply($base-line-height, $base-font-size) 0;
        padding: 0;
    }
    
}

.old-fashioned {
    background-color: lightgrey;
    color: black;
    line-height: 1.6;
    font-family: 'Times New Roman', Times, serif;
}

.modern {
    @include test-box;
    color: #333;
    line-height: $base-line-height;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.worst-ever {
    line-height: 1;
    letter-spacing: -2px;
    color: #aaa;
}