$font-color: #f1eff7;// fefefe
$font-alternative-color: #75AC62; //942630
$accent-color: #eddce0;
$accent-alt-color : #DBE8D8;
$background-color: #130D24;
$background-alternative-color: #07050f;
$border-color:#2C1B53;
$img-filter: opacity(80%);
$text-box-background: #150F28;
$text-box-border: #333333;

$base-line-height: 1.4;
$base-font-size: 1.1rem;
$magic-number: multiply($base-font-size, $base-line-height);