$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #3d5a80;
$background-alternative-color: #e0fbfc;

$line-height: 1.4;
$font-size: 1.1em;
$magic-number: $font-size * $line-height;