$font-color: #080708;
$font-alternative-color: #190933;
$accent-color: #665687;
$background-color: #fff;
$background-alternative-color: #a7adc6;

$base-line-height: 1.4;
$base-font-size: 1.1rem;
$magic-number: multiply($base-font-size, $base-line-height);